*.class
*.log
*.sjsir

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache-*

# IntelliJ specific
.idea/
.classpath
.project
.settings/

# jenv
.java-version

# Files created for deployment
local.sbt
secret/
.metals/
.bloop/
project/metals.sbt
