addons:
 apt:
   packages:
     - graphviz

language: scala

scala:
  - 2.12.8

jdk:
  - openjdk11

before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
    - $HOME/.coursier/

before_script:

before_deploy:

deploy:
  - provider: script
    script: sbt ++$TRAVIS_SCALA_VERSION "set every Seq(sonatypeSessionName := \"Travis Job $TRAVIS_JOB_NAME $TRAVIS_JOB_NUMBER ($TRAVIS_JOB_WEB_URL)\", publishTo := sonatypePublishToBundle.value)" publishSigned sonatypeBundleRelease
    cleanup: false
    on:
      all_branches: true
      condition: $GITHUB_PERSONAL_ACCESS_TOKEN
