name: Scala CI

on:
- push
- pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        scala:
        - 2.12.15

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # Need the git history for sbt-dynver to determine the version
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: temurin
    - name: Cache SBT
      uses: actions/cache@v2
      with:
        path: | 
          ~/.ivy2/local/
          ~/.ivy2/cache/
          ~/.sbt/
          ~/.coursier/
        key: |
          ${{ runner.os }}-${{matrix.scala}}-${{ hashFiles('**/*.sbt') }}
          ${{ runner.os }}-${{matrix.scala}}-
    - name: Run tests
      run: sbt ++${{ matrix.scala }} test
    - name: Publish to Maven Central Repository
      env:
        GITHUB_PERSONAL_ACCESS_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
      if: ${{ env.GITHUB_PERSONAL_ACCESS_TOKEN != '' }}
      run: sbt ++${{ matrix.scala }} "set every Seq(sonatypeSessionName := \"${{github.workflow}} ${{github.run_id}}-${{github.run_number}}-${{github.run_attempt}}-$$ ${{ matrix.scala }}\", publishTo := sonatypePublishToBundle.value)" publishSigned sonatypeBundleRelease
